parser-xsd/src/test/resources/multifile/catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Entry document: includes a chameleon document (catalog-items.xsd, no
     targetNamespace) and imports a foreign namespace (money.xsd). -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:c="urn:test:catalog"
           xmlns:m="urn:test:money"
           targetNamespace="urn:test:catalog"
           elementFormDefault="qualified">

  <xs:include schemaLocation="catalog-items.xsd"/>
  <xs:import namespace="urn:test:money" schemaLocation="money.xsd"/>

  <xs:complexType name="CatalogType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="item" type="c:ItemType" maxOccurs="unbounded"/>
      <xs:element name="totalValue" type="m:MoneyType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Catalog" type="c:CatalogType"/>
</xs:schema>
